
body {
    height: 20%;
    width: 40%;
    
}

header{
    font-size: 2rem;
    position: fixed;
    left: 0;
    right: 0;
    padding: .5em 1em;
    box-shadow: 0 2px 4px -2px black;
}

main{
  min-height: 100vmin;
}

h1{
    text-align: center;
    color: #f1f1f1;
}
/* Style the form element with a border around it */
form {
    margin-top: 20%;
    border: 5px solid #f1f1f1;
    border-radius: 20px;
    padding-top: 1%;
    background-color: black;
    z-index: 0;

  }
  
  /* Add some padding and a grey background color to containers */
  .container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    padding-top: 20px;
  }
  
  /* Style the input elements and the submit button */
  input[type=name], input[type=email] {
    background-color: white;
    width: 49%;
    color: black;
    padding: 8px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid gray;
    box-sizing: border-box;
  }
  

  /* Style the submit button */
  input[type=submit] {
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    background-color: #04AA6D;
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }
  
  h2{
    color: antiquewhite;
  }

  textarea{
    max-width: 100%;
  }

  .test1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: aliceblue;
    margin-top: 5%;
    max-width: 100%;
    padding: 2%;
    height: auto;
}

.test{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 60px;
  width: 60px;
  border-radius: 10px;
  background-color: blue;
} 
