* {
    box-sizing: border-box;
  }
html {
    font-size: 16px;
    background: rgb(36, 29, 39);
  }
body {
    max-width: 1000px;
    margin: 0 auto;
  }
header {
    font-size: 2rem;
    position: fixed;
    left: 0;
    right: 0;
    padding: .5em 1em;
    box-shadow: 0 2px 4px -2px white;
    background: red;
    z-index: 100;
}

.links {
    float: right;
}
main {
    min-height: 100vh;
    padding: 64px 24px 96px;
    border-radius: 20px;
    box-shadow: 0 0 22px 10px red;
    color: brown;
    font-family: 'Open Sans', sans-serif;
}
.name{
    color: black;
    font-weight: bold;
}
.links a.active {
    border-bottom: 1px solid #555;
}
.links a {
    text-decoration: none;
    color: black;
    margin-left: .25em;
  }
  footer {
    box-sizing: border-box;
    position: fixed;
    height: 64px;
    padding: 16px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    box-shadow: 0 -2px 4px -2px black;
  }
  
  footer .media-link {
    height: 32px;
  }
  
  footer a {
    margin-right: 64px;
    text-decoration: underline;
    color: blue;
  }
  
  footer a:last-child {
    margin-right: 0;
  }
  header, footer {
    background: antiquewhite;
  }
  